<div class="fade-in" id="main-content">
    <h1>Bonnie Dentinger</h1>
    <h2>Full-Stack Web Developer</h2>
    <div id="about-me">
        <img src="/static/img/business_portrait.png" 
            alt="coding" width="75%" height="75%" style="margin: 0 auto;">
        <div style="margin: 0 auto;">
            <p><strong>About Me</strong></p>
            <p>
                As a dedicated and industrious professional deeply passionate about web development, I currently serve as a Full-Stack Web Developer at 
                <a class="gold" href="https://retreathospice.com/" target="_blank">The Retreat Hospice</a> in Mobile, Alabama. In this role, I shoulder 
                the responsibility of maintaining and advancing the company's internal applications and servers.
            </p>
            <p>
                My expertise spans a robust spectrum of full-stack web development technologies, including Python, C++, C, Java, PHP, HTML, CSS, 
                JavaScript, React, Node, Bootstrap, Docker, MySQL, PostgreSQL, MSSQL, MongoDB, Flask, SQLAlchemy, FuelPHP, Jinja, and more.
                Fueled by a relentless commitment to continuous learning, I pride myself on being a quick learner and a collaborative team player. 
                I am always activating seeking fresh opportunities to expand and refine my skillset, and such earned my Bachelor of Science in 
                Computer Science from Colorado State University in December 2023.
            </p>
            <p>
                My journey in web development reflects not only a comprehensive technical proficiency but also a mindset geared towards growth and
                innovation. I am eager to contribute my skills and knowledge to impactful projects and welcome challenges that further elevate my
                capabilities.
            </p>
        </div>
    </div>
</div>