<div class="fade-in" id="main-content">
    <h1>Bonnie Dentinger</h1>
    <h2>Full-Stack Web Developer</h2>
    <div id="about-me">
        <img src="/static/img/business_portrait.png" 
            alt="coding" width="75%" height="75%" style="margin: 0 auto;">
        <div style="margin: 0 auto;">
            <p><strong>About Me</strong></p>
            <p>
                As a dedicated and industrious professional based in Woodbury, MN who deeply passionate about web development, I currently serve as a 
                Remote Full-Stack Web Developer at <a class="gold" href="https://retreathospice.com/" target="_blank">The Retreat Hospice</a> in 
                Mobile, Alabama. In this role, I shoulder the responsibility of maintaining and advancing the company's internal applications and servers,
                as well as developing new features and functionalities to enhance the user experience. I also collaborate with and lead a team of 
                developers to ensure the seamless integration of new technologies and the optimization of existing systems.
            </p>
            <p>
                My expertise spans a robust spectrum of full-stack web development technologies, including Python, C++, C, Java, PHP, HTML, CSS, 
                JavaScript, React, Node, Bootstrap, Docker, MySQL, PostgreSQL, MSSQL, MongoDB, Flask, SQLAlchemy, FuelPHP, Jinja, and more.
                Fueled by a relentless commitment to continuous learning, I pride myself on being a quick learner and a collaborative team player. 
                I am always activating seeking fresh opportunities to expand and refine my skillset, and such earned my Bachelor of Science in 
                Computer Science from Colorado State University in December 2023.
            </p>
            <p>
                My journey in web development reflects not only a comprehensive technical proficiency but also a mindset geared towards growth and
                innovation. I am eager to contribute my skills and knowledge to impactful projects and welcome challenges that further elevate my
                capabilities. I am excited to connect with like-minded professionals and explore new opportunities for collaboration and growth.
            </p>
            <p>
                Please feel free to take a look at my <a class="purple" href="/static/resume.pdf" target="_blank">resume</a> to learn more about my 
                professional background and accomplishments. If you have any questions or would like to discuss potential collaborations, please don't 
                hesitate to contact me. I look forward to connecting with you!
            </p>
        </div>
    </div>
</div>