<div class="fade-in">
    <h1>Bonnie Dentinger</h1>
    <h2>Full-Stack Web Developer</h2>
    <div style="display: flex; justify-content: center; width: 60%;margin: 0 auto;margin-top:25px;">
        <img src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80" 
            alt="coding" width="500" style="margin: 0 auto;">
        <div style="width: 50%; margin: 0 auto;">
            <p><strong>About Me</strong></p>
            <p>A dedicated and hard-working individual with a passion for web development. I am currently a full-stack web developer at
                <a class="gold" href="https://retreathospice.com/" target="_blank">The Retreat Hospice</a>, where I am responsible for maintaining and developing the company's internal applications and
                servers.</p><br><br> I have a strong background in full-stack web development, with experience in Python, C++, C, Java, PHP, HTML, CSS, JavaScript, React, Node, Bootstrap, Docker,
                MySQL, PostgreSQL, MSSQL, MongoDB, Flask, SQLAlchemy, FuelPHP, Jinja and more.<br><br> I am a quick learner and a team player, and I am always looking for new opportunities to grow and
                expand my skillset. I will be receiving a Bachelor of Science in Computer Science from Colorado State University in December 2023.
            </p>
        </div>
    </div>
</div>