<div class="fade-in" id="main-content">
    <h1><strong>Portfolio</strong></h1>
    <div class="slideshow">
        <div class="slide">
            <img src="/static/img/prismx_preview.png" alt="PrismX" style="margin: 0 auto;width: 80%;">
            <p><strong>PrismX</strong></p>
            <a href="https://github.com/bonnie-dentinger/prismx" target="_blank">View the source code <i class="fa-brands fa-github"></i></a>
            <p>
                I developed the PrismX website as part of my Web Programming class project, showcasing my proficiency in HTML, CSS, JavaScript,
                FuelPHP, and MySQL. PrismX is a fictional company aimed at assisting users in identifying color-blindness through interactive exercises.
                The website incorporates an API to generate color names dynamically. Additionally, users can access a feature allowing them to view a
                "printable" version of their creations. This project exemplifies my skills in full-stack web development and highlights my ability to
                integrate external APIs for enhanced functionality.
            </p>
        </div>
        <div class="slide">
            <img src="/static/img/prismx_prevew2.png" alt="PrismX2" style="margin: 0 auto;width: 80%;">
            <p><strong>PrismX</strong></p>
            <a href="https://github.com/bonnie-dentinger/prismx" target="_blank">View the source code <i class="fa-brands fa-github"></i></a>
            <p>
                I implemented a dynamic customization feature on the PrismX website, enabling users to define the layout with a chosen number
                of columns and rows (ranging from 1 to 26) and select from a palette of up to 6 colors. The system incorporates meticulous
                validation checks to ensure the accuracy of user inputs. Any invalid entries prompt user-friendly alerts, reinforcing the
                commitment to a seamless and error-free experience. This project exemplifies my dedication to crafting interactive and
                user-centric web applications.
            </p>
        </div>
        <div class="slide">
            <img src="/static/img/prismx_prevew3.png" alt="PrismX3" style="margin: 0 auto;width: 80%;">
            <p><strong>PrismX</strong></p>
            <a href="https://github.com/bonnie-dentinger/prismx" target="_blank">View the source code <i class="fa-brands fa-github"></i></a>
            <p>
                Furthermore, users have the capability to individually color the squares within the generated grid above. The grid size aligns
                with the user's selected number of columns and rows. This interactive feature allows users to click on squares and choose a
                specific color for them. If a color is modified, the colored squares seamlessly transition to the updated hue. Conversely,
                deleting a color results in the corresponding squares becoming uncolored. This functionality enhances user engagement by
                providing a dynamic and customizable experience.
            </p>
        </div>
        <div class="slide">
            <img src="/static/img/prismx_prevew4.png" alt="PrismX4" style="margin: 0 auto;width: 80%;">
            <p><strong>PrismX</strong></p>
            <a href="https://github.com/bonnie-dentinger/prismx" target="_blank">View the source code <i class="fa-brands fa-github"></i></a>
            <p>
                The user has the flexibility to edit, add, or delete colors according to their preferences. Demonstrating this functionality,
                consider the process of adding a new color. I crafted custom modals for actions such as adding, deleting, and editing,
                extending beyond the foundational Bootstrap modals. This approach showcases my proficiency in leveraging custom CSS and
                JavaScript to tailor the user interface, contributing to a unique and visually appealing design. The seamless integration of
                these elements enhances the overall user experience, emphasizing my commitment to creating polished and customized web solutions.
            </p>
        </div>
        <div class="slide">
            <img src="/static/img/prismx_prevew5.png" alt="PrismX5" style="margin: 0 auto;width: 80%;">
            <p><strong>PrismX</strong></p>
            <a href="https://github.com/bonnie-dentinger/prismx" target="_blank">View the source code <i class="fa-brands fa-github"></i></a>
            <p>
                An example of coloring the squares using a couple of chosen colors.
            </p>
        </div>
        <div class="slide">
            <img src="/static/img/prismx_prevew6.png" alt="PrismX6" style="margin: 0 auto;width: 80%;">
            <p><strong>PrismX</strong></p>
            <a href="https://github.com/bonnie-dentinger/prismx" target="_blank">View the source code <i class="fa-brands fa-github"></i></a>
            <p>
                Introducing the "printable" view, users can opt to print the page, capturing both the grid and the selected colors along with
                the specified columns and rows in a battleship-style layout. This feature aims to assist users in effectively utilizing the
                prescribed colors to fill in the squares. The comprehensive printout not only documents the visual composition but also serves
                as a helpful reference for users engaging in color-related exercises. This emphasis on practical utility enhances the overall
                user experience of the application.
            </p>
        </div>
        <a class="previous" onclick="plusSlides(-1)"><i class="fa-light fa-chevron-left"></i></a>
        <a class="next" onclick="plusSlides(1)"><i class="fa-light fa-chevron-right"></i></a>
    </div>
</div>
<script>
    currentSlide(1);
</script>