@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
    --text-color: black;
    --one: #F4E9E8;
    --two: #DBC9CE;
    --three: #BCABB9;
    --four: #9791A7;
    --five: #6A7993;
    --six: #38637A;
    --purple: #DB88FF;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: #4A0070;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #fff;
    color: var(--text-color);
    margin: 0;
    background: linear-gradient(180deg, #FFB7B7 0%, #727272 100%), radial-gradient(60.91% 100% at 50% 0%, #FFD1D1 0%, #260000 100%), linear-gradient(238.72deg, #FFDDDD 0%, #720066 100%), linear-gradient(127.43deg, #00FFFF 0%, #FF4444 100%), radial-gradient(100.22% 100% at 70.57% 0%, #FF0000 0%, #00FFE0 100%), linear-gradient(127.43deg, #B7D500 0%, #3300FF 100%);
    background-blend-mode: screen, overlay, hard-light, color-burn, color-dodge, normal;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    top: 0;
    left: 0;
    height: 100%;
}

footer {
    background-color: transparent;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    font-weight: bold;
    height: 7vh;
}

html {
    width: 100%;
}

img {
    border-radius: 15px;
}

nav {
    background-color: transparent;
    color: var(--text-color);
    padding: 10px;
    text-align: end;
    font-size: 0.75em;
    font-weight: bold;
    letter-spacing: 0.1em;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

nav a {
    padding: 10px;
    display: inline-block;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: transform 0.3s ease-in-out 0s;
    transform-origin: bottom right;
}

nav a:hover {
    color: white;
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav li {
    display: inline-block;
    list-style: none;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
}

ul {
    padding-left: 0;
}

.brand-name {
    visibility: hidden;
}

.dot.active,
.dot:hover {
    background-color: rgba(255, 255, 255, 0.90);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.fa-brands,
.fa-regular {
    padding: 10px;
    font-size: 1.5em;
    transition: all 0.2s ease-in-out;
    margin: 0 10px;
}

.col:hover > .fa-brands,
.col:hover > .fa-regular {
    transform: scale(1.5);
}

.fa-message,
.fa-envelope {
    margin: 0 10px;
}

.fade-in {
    animation: fade-in 0.3s ease-in-out 0s 1 normal forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fade-out 0.3s ease-in-out 0s 1 normal forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.purple {
    color: var(--purple);
}

.line {
    border: 1px solid var(--text-color);
    width: 25%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p-3 {
    padding: 10px;
}

.slideshow {
    position: relative;
    margin: auto;
}

.slide:not(:first-child) {
    display: none;
}

.previous,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous {
    left: 0;
}

.previous:hover,
.next:hover {
    transform: scale(1.5);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.row-cols-auto>* {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
}

#about-me {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
}

#main {
    padding-top: 5vh;
    text-align: center;
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
}

#main-content {
    max-height: 100%;
    overflow: scroll;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(15px);
    padding: 10px;
    border-radius: 15px;
}

#skills1,
#skills2 {
    cursor: pointer;
}

#skills1 td {
    width: 50px;
    height: 80px;
}

#skills1_text td,
#skills2_text td {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s ease-in-out;
    vertical-align: top;
    color: #4A0070;
    height: 50px;
}

#wrapper {
    width: 100vw;
}

@media (min-width: 800px) {
    #about-me {
        display: flex;
        justify-content: between;
    }

    #about-me > img {
        width: 45%;
        align-self: center;
        margin: 0 auto;
    }

    #about-me > div {
        width: 45%;
        margin: 0 auto;
    }

    #main-content {
        padding-top: 2vh;
        margin-top: 10vh;
        height: fit-content;
        min-height: 60vh;
        max-height: 80vh;
        overflow: hidden;
    }

    /* scrollbar with transparent background, white thumb, and border radius*/

    #main-content::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
    }

    #main-content::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 10px;
    }

    #main-content::-webkit-scrollbar-track {
        background-color: transparent;
    }

}